portfolio/.quarto/
portfolio/_site/
.DS_Store
Thumbs.db

# Lattice Radiant files
impl*/
.build_status
.run_manager.ini
.recovery
.spread_sheet.ini
.spreadsheet_view.ini
*.dir/
*.log
*.tcl
*.ccl
*.srp
*.dmp
*.html
._Real_._Math_.vhd

# Segger Embedded Studio
**/Output/
**/Debug/
*.emSession
*.jlink

# Other synthesis files
vsim.wlf
work/

# Local-only files
local/

